ASC_ISSUER_ID=
ASC_KEY_ID=
ASC_PRIVATE_KEY=
APPSTORE_VENDOR_NUMBER=
ASC_VENDOR_NUMBER=
APPSTORE_DIGEST_SMTP_HOST=smtp.mail.me.com
APPSTORE_DIGEST_SMTP_PORT=587
APPSTORE_DIGEST_SMTP_SECURITY=starttls
APPSTORE_DIGEST_SMTP_USER=gautier@gogolabs.fr
APPSTORE_DIGEST_SMTP_PASSWORD=
APPSTORE_DIGEST_FROM=Gogo Labs Daily Business Digest <gautier@gogolabs.fr>
GOGOLABS_DIGEST_LOGO_PATH=assets/gogolabs-logo.png
