ASC_ISSUER_ID=
ASC_KEY_ID=
ASC_PRIVATE_KEY=
APPSTORE_DIGEST_SMTP_HOST=smtp.mail.me.com
APPSTORE_DIGEST_SMTP_PORT=587
APPSTORE_DIGEST_SMTP_SECURITY=starttls
APPSTORE_DIGEST_SMTP_USER=gautier@gogolabs.fr
APPSTORE_DIGEST_SMTP_PASSWORD=
APPSTORE_DIGEST_FROM=App Store Connect Digest <gautier@gogolabs.fr>
